@import url('https://fonts.googleapis.com/css2?family=Poppins:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

html,
body,
#__next {
  padding: 0;
  margin: 0 auto;
  font-family: Poppins, sans-serif;
  background: #fcfcfc;
  height: 100%;
  width: 100%;
}

* {
  font-family: Poppins, sans-serif;
}
